@page
@model IndexModel
@using asp.netcoreTelerikGrid.Models
@{
    ViewData["Title"] = "Home page";
}




<div class="container shadow">
    @{
        if (Model.StudentsList != null)
        {
            foreach (var item in @Model.StudentsList)
            {
                <div>
                  
                        student Information #@item.Id
                    
                    <ul>
                        <li>
                            @item.Id
                        </li>
                        <li>
                            @item.Name
                        </li>
                        <li>
                            @item.IsStudentUnderClass10
                        </li>
                        <li>
                            @item.IsNewStudent
                        </li>
                        <li>
                            @item.IsStudied
                        </li>
                    </ul>
                </div>
            }
        }

    }
</div>
